:root {
    --background-color: #7CD1B8;
    --card-width: 10em;
    --card-height: 10em;
    --card-back-color: #FABB51;
    --card-front-color: #3E8E7E;
    --card-font-size: 20px;
    --card-font-color: white;
}

body {
    font-family: monospace sans-serif;
    margin: 75px;
    background: var(--background-color);
}

.flip-card {
    width: var(--card-width);
    height: var(--card-height);
    display: inline-block;
    perspective: 1000px;
    border-radius: 50%;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border-radius: 50%;
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--card-font-color);
    text-align: center;
    font-size: var(--card-font-size);
    backface-visibility: hidden;
    line-height: 240px;
}

.front {
    background-color: var(--card-front-color);
}

.back {
    background-color: var(--card-back-color);
    transform: rotateY(180deg)
}

.card.flip {
    transform: translateX(-100%) rotateY(-180deg);
}