:root {
    --card-width: 20em;
    --card-height: 20em;
    --card-front-color: rgb(209, 209, 88);
    --card-back-color: rgb(60, 160, 160);
    --card-font-size: 40px;
    --card-font-color: white;
}

body {
    font-family: monospace sans-serif;
    margin: 40px;
}

.flip-card {
    width: var(--card-width);
    height: var(--card-height);
    display: inline-block;
    perspective: 1000px;
    margin: 40px 0;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--card-font-color);
    text-align: center;
    font-size: var(--card-font-size);
    backface-visibility: hidden;
    line-height: 240px;
}

.front {
    background-color: var(--card-front-color);
}

.back {
    background-color: var(--card-back-color);
    transform: rotateY(180deg)
}

.card.flip {
    transform: translateX(-100%) rotateY(-180deg);
}